* {
    margin: 0px;
    padding: 0px;
}
body {
    font-size: 20px;
}
#edit_page {
    display: flex;
    margin-top: 40px;
    background-image: linear-gradient(to right, #a816da, #4d0665);
    border-radius: 17px;
}
.profile {
    background-color: gainsboro;
    border-radius: 15px;
    position: relative;
    width: 25%;
}
.profile .edit_profile {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}
.edit_profile .person {
    height: 120px;
    width: 130px;
    border-radius: 50%;
    margin-bottom: 30px;
    margin-top: 10px;
}
.edit_profile a {
    text-decoration: none;
    color: initial;
}
.edit_profile p {
    padding-bottom: 15px;
}
.edit_profile button {
    font-family: cursive;
    font-size: 15px;
    padding: 3px 10px;
    margin-top: 20px;
}
/* Information */
.info .form {
    margin: 65px 15px;
}
.form .text .form-group1 {
    margin-left: 20px;
    margin-bottom: 20px;
}
#edit_page .info .form .text form .form-group1 label {
    margin-right: 57px;
}
.form .text .form-group2 {
    margin-bottom: 20px;
    margin-left: 20px;
}
.form .text .form-group2 label {
    margin-right: 49px;
}
.form .text .form-group3 {
    margin-left: 20px;
    margin-bottom: 20px;
}
.form .text .form-group3 label {
    margin-right: 19px;
}
.form .form-group4 {
    float: right;
    margin-right: 91px;
}
.form .form-group4 a {
    text-decoration: none;
}
.form-group4 .change a {
    padding: 4px 9px;
    background-color: aqua;
    border: black 1px solid;
    border-radius: 4px;
    color: initial;
}
.form-group4 .change a:hover {
    background-color: #0aeded;
}
.form-group4 .forget a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.form-group4 .forget a:hover {
    text-decoration: underline;
}
.form-group4 .forget {
    margin-top: 3px;
    margin-left: 55px;
}
.form .text input {
    width: 250px;
    height: 35px;
}
input {
    outline: none;
}
input:hover {
    outline: #4d0066 2px solid;
}